<mat-toolbar class="mat-elevation-z2">My Online Resume</mat-toolbar>
<div class="grid-container">  
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows"
      [ngSwitch]="card.title">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-personal-info *ngSwitchCase="'Personal information'" 
            [personalInformation]="personalInformation"
            [isSmallScreen]="isSmallScreen$ | async"></app-personal-info>
          <app-education *ngSwitchCase="'Education'" 
            [education]="education"
            [isSmallScreen]="isSmallScreen$ | async"></app-education>
          <app-work-history *ngSwitchCase="'Work history'" 
            [workHistory]="workHistory"
            [isSmallScreen]="isSmallScreen$ | async"
            ></app-work-history>
          <app-skills *ngSwitchCase="'Skills'" [skills]="skills"></app-skills>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
